<div class="section">
  <div class="corset full">
    
    
    <div class="layout-table grid">
      <% descs = [
        "Hi, I've been in the healthcare sector for 15 years, I've changed bedpans before you were even born!",
"Hi, I'm Christiano, I help elderly people to go to the bathroom everyday, pickup their groceries or get them their meds in time and I'm a certified nurse!", 
"I am new in this and I'm only doing it for the money, but I'm quite good at what I do and the people like me having around, I talk all day to them so they won't feel abandoned by their children.", 
"I'm a firsttimer in elderly care but I have a nursing degree from one of the worldwide leading nursing schools! I keep people clean, fed and happy. That's what I do and what I love doing.", 
"Hi I'm Sabine, I work with elderly people for 5 years, I help them to keep the house clean, cook for them and talk to them on daily basis."
      ] %>
      <% User.agents.all.sample(3).each do |usr| %>
      <div class="col-sm-4 fill">
        <div class="box profile-box fill">
          
          <div class="header">
            <%= usr.name %>
          </div>
          <div class="body fill">
            <div class="usr_pic">
              <%= image_tag usr.get_image_url %>
            </div>
            
            
            <% repo = rand(100) %>
            
            
            
            <div class="rating">
              <div class="ratingStars">
                <div class="ratingWrapper">
                  <div class="ratingInner" style="width: <%= repo %>px"></div>
                </div>
              </div>
              <span class="reputation-text"><%= rand(500) %> Reputations</span>
            </div>
            
            
            
            <div class="clearfix"></div>
            <br/>
            <p class="fill"><%= descs[usr.id - 1] %></p>
            <div class="clearfix"></div>
            <br/>
            <%= link_to "Book me", "#", class: "btn btn-primary btn-lg btn-block" %>
            
          </div>
        </div>
      </div>
      <% end %>
    </div>
    
    
  </div>
</div>