<div class="fullpage-table accnt-form">
  <div class="table-row">
    <div class="banner-box responsive-hero fill">
      <div class="clearfix"></div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "centered-form"}) do |f| %>
        
        <h2><%= t('.sign_in', :default => "Sign in") %></h2>
        
        <div class="inpt-group">
          <%= f.email_field :email, class: "form-control", placeholder: "Your email", required: true, autofocus: true %>
          <%= f.password_field :password, class: "form-control", placeholder: "Your password", required: true %>
        </div>
        <% if devise_mapping.rememberable? -%>
          <div class="press"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
        <% end -%>
        <%= f.submit t('.sign_in', :default => "Sign in"), class: "btn btn-lg btn-primary btn-block" %>
      <% end %>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="table-row">
    <div class="form-table-footer">
      <div class="corset center_text">
        <p>You don't have an account yet? Click <%= link_to "here", new_user_registration_path %>. Do you have <%= link_to "Problems", new_user_password_path %> while login.</p>
        <%= render "shared/app_footer" %>
      </div>
    </div>
  </div>
</div>


<%#= render "devise/shared/links" %>

