<!DOCTYPE html>
<html>
<head>
  <title><%= CONFIG[:app_name] %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  	<%# ===   google - Maps   === #%>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
</head>
<body>
  

  <div id="fixed_nav" class="navbar navbar-default" role="navigation">
    <div class="corset">
      
    
    
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to CONFIG[:app_name], root_path, class: "navbar-brand" %>
      </div>
      <div class="collapse navbar-collapse" id="front-main-nav-colapse">
        <ul class="nav navbar-nav navbar-left">
          <li><span class="name"><%= "Logged In" if current_user %></span></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="button">
            <% if current_user %>
              <%= link_to "Logout", destroy_user_session_path, class: "btn btn-default", method: :delete %>
            <% else %>
              <%= link_to "Login", new_user_registration_path, class: "btn btn-success" %>
            <% end %>
          </li>
        </ul>
      </div>
      
      
      
    </div>
  </div>
  
  <div id="body">
    <%= yield %>
  </div>



</body>
</html>
